</main>
</body>

<footer class="text-muted fixed-bottom bg-dark">
  <div class="container">
    <p class="float-right mycolor footer">
      <a href="#">Back to top</a>
    </p>
    <p class="mycolor">Made with &#x2661; by Mavericks</p>
  </div>
</footer>

</html>
